<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>{{ 'SETTINGS_TITLE' | translate }}</ion-title>
  </ion-navbar>
</ion-header>


<ion-content>
  <ion-list *ngIf="page == 'main'">

    <ion-item>
      <ion-label>{{ 'SETTINGS_CHANGE_USERNAME' | translate }}</ion-label>
      <ion-input [(ngModel)]="username"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label>מספר משתמש</ion-label>
      <ion-input type="number" [(ngModel)]="referenceId"></ion-input>
    </ion-item>

    <ion-item>
      <choose-attachment (chosenAttachment)="attachment = $event"></choose-attachment>
    </ion-item>

    <ion-item text-center="true">
      <button ion-button (click)="saveSettings()">
        שמור
      </button>
    </ion-item>
  </ion-list>

  <ion-list *ngIf="page == 'profile'">
    <ion-item>
      <ion-label>{{ 'SETTINGS_OPTION4' | translate }}</ion-label>

    </ion-item>
  </ion-list>
</ion-content>
