<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      <span class="flex-row">
        <span>{{ 'LAST_CALLS_VIEW' | translate }}</span>
        <ion-icon
          name="refresh"
          class="refresh-calls"
          (click)="refreshCalls()">
        </ion-icon>
      </span>
    </ion-title>

  </ion-navbar>
</ion-header>

<ion-content no-bounce>
  <ion-list class="last-calls-list">
    <ion-item dir="rtl" *ngFor="let lastCall of lastCalls">
      <button *ngIf="attachment === 'whatsapp'"
              item-start
              [disabled]="!canMakeAttachment()"
              class="transparent-background-icon"
              (click)="sendWhatsappMessage(lastCall.number)">
        <ion-icon class="whatsapp-icon" name="logo-whatsapp"></ion-icon>
      </button>
      <button *ngIf="attachment === 'sms'"
              item-start
              [disabled]="!canMakeAttachment()"
              class="transparent-background-icon"
              (click)="sendSmsMessage(lastCall.number)">
        <ion-icon class="sms-icon" name="chatboxes"></ion-icon>
      </button>
      <button *ngIf="attachment === 'phone-call'"
              item-start
              [disabled]="!canMakeAttachment()"
              class="transparent-background-icon"
              (click)="makePhoneCall(lastCall.number)">
        <ion-icon class="sms-icon" name="call"></ion-icon>
      </button>
      <ion-label class="phone-number" (click)="openModal(lastCall.number)">
        {{ getContactNameOrNumber(lastCall) }}
      </ion-label>

    </ion-item>
  </ion-list>
  <ion-grid>
    <ion-row class="buttons-slider-main">
      <ion-col class="flex-col" col-1 (click)="setNextIndex(index)">
        <ion-icon class="navigation-button"
                  name="arrow-back">
        </ion-icon>
      </ion-col>
      <ion-col col-10 text-center>
      <span>
        <ion-grid>
        <ion-row>
          <ion-col text-center="true">
            <h1>הודעה לשליחה:</h1>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col text-center="true">
            {{messages[index]?.content}}
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col text-center="true">
            <span [hidden]="canMakeAttachment()" class="warning-message">
              שים לב! שם המשתמש ו/או מספר מזהה ו/או הודעה לא תקינים/לא הוזנו, ההודעה לא תישלח
            </span>
          </ion-col>
        </ion-row>
      </ion-grid>
      </span>
      </ion-col>
      <ion-col class="flex-col" col-1 (click)="setPreviousIndex(index)">
        <ion-icon class="navigation-button"
                  name="arrow-forward">
        </ion-icon>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
